/*
 * Copyright 2009 The Closure Library Authors. All Rights Reserved.
 *
 * Use of this source code is governed by the Apache License, Version 2.0.
 * See the COPYING file for details.
 */

/*
 * Standard styling for a goog.ui.DatePicker.
 *
 * @author arv@google.com (Erik Arvidsson)
 */

.goog-date-picker,
.goog-date-picker th,
.goog-date-picker td {
  font: 13px 'DejaVu Serif';
}

.goog-date-picker {
  -moz-user-focus: normal;
  -moz-user-select: none;
  position: relative;
  float: left;
  padding: 2px;
  color: #012F49;
  background: #FD7C41;
  border-left: 4px solid #012F49; 
  border-radius:10px;
  cursor: default;
}

.goog-date-picker th {
  text-align: center;
}

.goog-date-picker td {
  text-align: center;
  vertical-align: middle;
  padding: 1px 3px;
}


.goog-date-picker-menu {
  position: absolute;
  background: #FDBF75;
  border: 1px solid #66ABD1;
  -moz-user-focus: normal;
  z-index: 1;
  outline: none;
}

.goog-date-picker-menu ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.goog-date-picker-menu ul li {
  cursor: default;
}

.goog-date-picker-menu-selected {
  background: #FD7C41;/*ccf;*/
}

.goog-date-picker th {
  font-size: .9em;
}

.goog-date-picker td div {
  float: left;
}

.goog-date-picker button {
  padding: 0px;
  margin: 1px 0;
  border: 0;
  color: #004D30; 
  font-weight: bold;
  background: transparent;
}

.goog-date-picker button:hover {
    text-decoration:underline;
}


.goog-date-picker-date {
  background: #FDBF75;
  border-radius:5px;
  color: #004D30;
  cursor: pointer;
}

.goog-date-picker-date:hover {
    text-decoration: underline;
}

.goog-date-picker-week,
.goog-date-picker-wday {
  padding: 1px 3px;
  /*border: 0;
  border-color: #a2bbdd;
  border-style: solid;*/
}

.goog-date-picker-week {
  /*border-right-width: 1px;*/
}

.goog-date-picker-wday {
  /* border-bottom-width: 1px; */
}

.goog-date-picker-head td {
  text-align: center;
}

/** Use td.className instead of !important */
td.goog-date-picker-today-cont {
  text-align: center;
}

/** Use td.className instead of !important */
td.goog-date-picker-none-cont {
  text-align: center;
}

.goog-date-picker-month {
  width: 12ex;
}

.goog-date-picker-year {
  width: 6ex;
}

.goog-date-picker table {
  /* border-collapse: collapse; */
  border-spacing: 1px;
}

.goog-date-picker-other-month {
  color: #63D5AA;
}

.goog-date-picker-wkend-start,
.goog-date-picker-wkend-end {
  background: #FD9F75; /*#996F3C;*/
}

/** Use td.className instead of !important */
td.goog-date-picker-selected {
  background: #FD7C41;
  color: #012F49;
  cursor: default !important;
}

td.goog-date-picker-selected {
    text-decoration: none !important;
}

.goog-date-picker-today {
  /* background: #9ab; */
  font-weight: bold !important;
  border: dashed 1px #012F49;
  /* border-color: #246 #9bd #9bd #246; */
  /* color: #fff; */
}
